{:http-server-root "public" ;; default
 :server-port 3449          ;; default
 :open-file-command "emacsclient"
 :builds [{:id "dev"
           :source-paths ["src"]
           :figwheel true
           :compiler
           {:main jp.blackawa.bbq-rum.client
            :asset-path "js/out"
            :output-to "resources/public/js/main.js"
            :output-dir "resources/public/js/out"
            :source-map-timestamp true}}]}
